#lougoutContainer{
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
#material-symbols-outlined {
    border: 1px solid red;
    border-radius: 10px;
    background-color: rgb(242, 242, 246);
    cursor: pointer;
    width: 50px;
    height: 30px;
    text-align: center;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#material-symbols-outlined:hover{
    background-color: rgb(182, 182, 186);
}
#deleteBtn{
  /* background-color: var(--bg-color); */
  color: var(--font-color);
    margin-top: 5px;
    width: 100%;
}
.updateBtn{
  /* background-color: var(--bg-color); */
  /* color: var(--font-color); */
  max-height: max-content;
}
.logoutBtn{
  /* background-color: var(--bg-color); */
  color: var(--font-color);
}
/* styles.css */

.stylish-checkbox {
    font-family: Arial, sans-serif;
    margin: 7px;
  }
  
  .form-check-label {
    font-size: 18px;
    color: #333; /* Couleur du texte */
  }
  
  .form-check-input {
    margin-right: 10px; /* Espacement entre la case à cocher et l'étiquette */
  }
  label{
    color: var(--font-color);
  }
  
  /* Personnalisez davantage les styles selon vos préférences */
  #convImg{
    position: relative;
    left: 20px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #333;
    
  }
  #editPhoto{
    /* background-color: var(--bg-color); */
    color: var(--font-color);
    cursor: pointer;
    padding: 2px;
    border-radius: 20%;
    position: relative;
    top: 27px;
    left: 0px;
  }
  #cadrePhoto{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity black */
  }
  #photoDisplayed{
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 25%;
  }
  #convImgInput{
    display: none;
  }
  #convImgDiv{
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
  }
  .logoutDiv{
    max-height: max-content;
    padding: 5px;
    width: max-content;
  }
  .profilePhotoDiv{
    padding-top: 5px;
    width: 80%;
  }
  label{
    color:var(--font-color);
  }
  #emailHelp{
    color:var(--font-color);
  }
 
 
  