app-conv-side{
    width: 25%
}
.notifs{ 
    border-radius: 10px;
    font-size: small;
    height: max-content;
    color: var(--bg-color-conv);

}
.sentMark{
    color: var(--bg-color-conv);
}
.recievedMark{
    color: var(--bg-color-conv);
}
.statusRow{
    margin: 0px;
    padding-right: 3px;
    padding-left: 3px;
}
.mySpinner{
    color:var(--bg-color-conv);
}
.noRes{
    color: var(--bg-color-conv);
}
.dateOfMessage{
    color: var(--bg-color-conv);
}

.myReactionGlobalRow{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0px;
    padding-right: 1px;
    padding-left: 1px;
    gap: 1px;
    font-size: small;
}
.otherReactionGlobalRow{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding-right: 1px;
    padding-left: 1px;
    gap: 1px;
    font-size: small;
}
.emojisRow{
    margin: 0px;
    margin-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.addReaction{
    color: var(--bg-color-conv);
    cursor: pointer;

}
.allReactions{
    display: none;
    background-color: var(--bg-color-conv);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    gap: 5px;
    width: max-content;
}
.reactionEmojis{
    border-radius: 50%;
    padding: 3px;
}
.reactionEmojis:hover{
background-color: var(--font-color-conv);
}
.nbrOfReactions{
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 50%;
    padding: 2px;
    color: var(--font-color-conv);
    background-color: var(--bg-color-conv);
    border-radius: 20px;
}
.reactionTypeAndNbr{
    position: relative;
}
.reactersDiv{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--font-color-conv);
    gap: 5px;
}
.imgReacter{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.reacterName{
    padding-top: 3px;
    width: 80%;
    color: var(--bg-color-conv);
    font-size: 80%;
}
.reactionSelected{
    background-color: var(--font-color-conv);
}
#reactersCadre{
    display: none;
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 3;
}
#reacters{
    overflow-y: auto;
    width: 100%;
    height: 30%;
    background-color: var(--bg-color-conv);
    bottom: 0px;
    position: fixed;
    z-index: 3;
}
