<div id="messages" class="bg-pink-500 h-full w-full">
  <!--multiple selected messages options-->
  <div
    *ngIf="isSelectingMode && selectedMessages.length > 0"
    class="fixed h-max p-3 z-20 w-3/4 right-0 bottom-0 bg-white"
  >
    <h4 class="text-center">Actions on selection</h4>
    <div class="flex justify-center space-x-2">
      <button
        (click)="deleteSelectionForMe()"
        class="transition-colors hover:bg-yellow-600 bg-yellow-500 duration-300 px-2 p-1 text-white rounded"
      >
        Delete for me
      </button>
      <button
        title="Delete message if you are the owner"
        (click)="deleteSelectionForAllIfPossible()"
        class="transition-colors hover:bg-red-600 bg-red-500 duration-300 px-2 p-1 text-white rounded"
      >
        Delete for all
      </button>
      <button
        (click)="cancelSelection()"
        class="transition-colors hover:bg-green-600 bg-green-500 duration-300 px-2 p-1 text-white rounded"
      >
        Cancel
      </button>
    </div>
  </div>
  <!--reacters list-->
  <div
    *ngIf="isDisplayingReacters"
    id="reacters-Cadre"
    class="fixed left-0 top-0 z-20 w-screen h-screen flex justify-center items-center"
    (click)="displayReacters(null)"
  >
    <div
      class="fixed z-0 left-0 top-0 w-screen h-screen bg-black opacity-50"
    ></div>
    <div
      id="reactersContainer"
      class="flex flex-col z-10 rounded overflow-y-auto w-3/4 h-1/2 bg-white"
    >
      <div
        class="reactersDiv flex items-center justify-between px-2"
        *ngFor="let reacter of reacters"
      >
        <app-user [user]="reacter.user"></app-user>
        <div class="text-2xl">{{ reacter.type }}</div>
      </div>
    </div>
  </div>
  <!--img displaying-->
  <div
    *ngIf="photoDisplayedUrl != ''"
    (click)="displayPhoto('')"
    id="cadrePhotoDisplayed"
    class="cadre"
  >
    <img
      id="photoDisplayed"
      class="photoDisplayed"
      src="{{ photoDisplayedUrl }}"
      alt=""
    />
    <br />
    <div id="downloadPhotoDisplayedDiv">
      <a
        class="btn btn-warning flex justify-center items-center space-x-3"
        id="downloadPhotoDisplayed"
        href="{{ photoDisplayedUrl }}"
        download
      >
        Download
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m.75 12 3 3m0 0 3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
          />
        </svg>
      </a>
    </div>
  </div>
  <div class="flex flex-row w-full h-full">
    <!--side bar-->
    <app-conv-side
      [ngClass]="getTailwindClasses(1, false)"
      class="w-1/3"
    ></app-conv-side>
    <div class="messagesAndInput relative flex flex-col w-3/4 bg-blue-400">
      <!--loading spiner-->
      <div
        *ngIf="loading && MoreMessages && !isBottom"
        id="msgLoadingSpinner"
        class="spinner-border"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <!--no messages popup-->
      <div
        *ngIf="getMessages().length == 0 && done"
        class="flex justify-center my-2"
      >
        <div
          class="bg-red-500 text-white rounded p-2 px-5 font-bold text-lg w-max"
        >
          No messages yet !
        </div>
      </div>
      <div
        id="chatContainer"
        #chatContainer
        class="messagesContainer w-full overflow-y-auto"
        [style]="{
          'max-height':34 + 'rem',
        }"
        (scroll)="checktop()"
        (scroll)="updateBottom()"
        [ngClass]="getTailwindClasses(2, false)"
      >
        <app-message
          id="{{ msg._id }}"
          *ngFor="let msg of getMessages(); let i = index"
          [index]="i"
          [precedentMessage]="getPrecedentMessage(i)"
          [nextMessage]="getNextMessage(i)"
          [isClicked]="messageClicked == msg._id"
          [message]="msg"
          [isLastMessage]="isLastMsg(msg)"
          [isSelected]="isSelectedMessage(msg)"
          [isSelectingMode]="isSelectingMode"
          (emitDisplayOptions)="displayOptions($event)"
          (emitDisplayPhoto)="displayPhoto($event)"
          (emitDisplayReacters)="displayReacters($event)"
          (emitGoToReferedMessage)="goToMessage($event)"
          (emitSelectedMessage)="onSelectingMessage($event)"
        ></app-message>
      </div>
      <div
        class="flex justify-center items-center w-3/4 fixed right-0 bottom-0"
      >
        <!--scrolldown or appendDown-->
        <div
          *ngIf="done"
          id="scroll-apprenddown"
          class="flex justify-center absolute w-full left-0 -top-10"
        >
          <button
            *ngIf="(!noMoreDown && isBottom) || (noMoreDown && !isBottom)"
            (click)="appendDown()"
            class="transition-all duration-500 bg-indigo-400 hover:bg-indigo-600 p-1 px-3 z-10 text-white border-2 border-black rounded-md"
          >
            <!--appendDown:update down messages after a research-->
            <!--load messages down-->
            <svg
              *ngIf="!noMoreDown && isBottom"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-clockwise"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
              />
              <path
                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
              />
            </svg>
            <!--scroll down-->
            <svg
              *ngIf="noMoreDown && !isBottom"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-down-circle"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
              />
            </svg>
          </button>
        </div>
        <app-input
          class="w-full md:w-3/4 lg:w-1/2"
          (emitCancelRepling)="isRepling = false"
        ></app-input>
      </div>
    </div>
  </div>

  <!--message options-->
  <div (click)="isDisplayingOptions = false" *ngIf="isDisplayingOptions">
    <div class="fixed top-0 left-0 w-screen h-screen bg-black opacity-50"></div>
    <div id="optionPopup">
      <!--reaction-->
      <div style="display: flex; justify-content: center; margin: 10px">
        <div style="border-radius: 10px" class="row justify-center bg-primary">
          <div
            class="cursor-pointer"
            style="margin: 5px"
            [ngClass]="{
              reactionEmojis: true,
              reactionSelected: reaction == getMyReaction()
            }"
            *ngFor="let reaction of availablerReactions"
            (click)="addReaction(reaction)"
          >
            {{ reaction }}
          </div>
        </div>
      </div>
      <!--first floor options-->
      <div class="flex flex-row justify-center space-x-2">
        <div class="flex flex-col space-y-2 w-1/3">
          <!--repondre-->
          <div
            (click)="setRep()"
            class="cursor-pointer text-center p-1 px-2 text-white bg-green-500 hover:opacity-85 rounded h-max text-sm"
          >
            Reply
          </div>
          <!--select Message-->
          <div
            (click)="SelectMessage(messageToDealWith)"
            class="cursor-pointer text-center p-1 px-2 text-white bg-blue-500 hover:opacity-85 rounded h-max text-sm"
            id="SelectMessage"
          >
            Select
          </div>
        </div>

        <div class="flex flex-col space-y-2 w-1/3">
          <!--delete for all-->
          <div
            *ngIf="canDeleteMsgForAll"
            (click)="deleteMsgForAll()"
            class="cursor-pointer w-full text-center p-1 px-2 text-white bg-red-500 hover:opacity-85 rounded text-sm"
            id="delete-For-All"
          >
            Delete for all
          </div>

          <!--delete for me-->
          <div
            (click)="deleteMsgForMe()"
            class="cursor-pointer text-center p-1 px-2 text-white bg-yellow-500 hover:opacity-85 rounded h-max text-sm"
            id="delete-For-Me"
          >
            Delete for me
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
