<main class="bg-purple-100 overflow-x-hidden overflow-y-scroll">
  <app-index-header></app-index-header>
  <!-- Pills navs -->
  <div id="globalContainer">
    <div
      *ngIf="getRoute() == 'login' || getRoute() == 'signup'"
      class="relative flex m-2 w-screen justify-center mb-5 text-white font-bold"
    >
      <!--selector-->
      <div
        style="height: 3px"
        [ngClass]="{
          'transition-all rounded-lg w-1/4 bg-blue-600 absolute -bottom-2': true,
        }"
        [style.left]="getRoute() == 'login' ? '21%' : '54%'"
      ></div>
      <a
        routerLink="/auth/login"
        [ngClass]="{
          'text-center text-white w-1/3 p-2  hover:opacity-90 hover:no-underline': true,
          'bg-purple-300 text-white ': getRoute() == 'login',
          'bg-black text-white opacity-70': getRoute() != 'login'
        }"
        class="w-1/3"
        >Login</a
      >
      <a
        routerLink="/auth/signup"
        [ngClass]="{
          'text-center w-1/3 p-2  hover:opacity-90 hover:no-underline': true,
          'bg-purple-300 text-white': getRoute() == 'signup',
          'bg-black text-white opacity-70': getRoute() != 'signup'
        }"
        >Register</a
      >
    </div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</main>
