#globalContainer{
    padding-left: 5px;
    padding-right: 5px;
}
a{
    cursor: pointer;
}
app-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
main{
    position: relative;
    min-height: 100vh;
    padding-bottom: 56px;
}
.myInactive{
    color: var(--font-color);
    background-color: var(--shadow-color);
    width: 100%;
    border-radius: 5px;

}
.myActive{
    color: var(--font-color);
    background-color: var(--bg-color);
}
#globalConatainer{
    padding-bottom: 50px;
}