<div
  class="flex overflow-x-hidden w-full mb-2"
  style="background: linear-gradient(90deg, purple, black)"
>
  <div>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7U8-Mr2upmOPhJcei4VvfUH7C9vIfgiGcog&s"
      alt="logo"
      class="w-28 rounded m-2"
    />
  </div>
  <div class="flex flex-col text-white">
    <div class="flex">
      <div class="text-4xl mx-3 mt-2">MESSAGE-IT</div>
      <div class="items-end text-lg hidden sm:flex">
        Chat with your friends and share photos
      </div>
    </div>
    <div class="ml-3 my-2 text-lg hidden sm:flex">
      by our safe and fast application.
    </div>
    <div class="ml-3 my-2 text-lg flex sm:hidden">
      Chat with your friends and share photos.
    </div>
  </div>
</div>
