<div
  class="flex justify-center h-screen items-center"
  *ngIf="noConvs() && done"
>
  <div
    class="text-base no-underline text-center bg-red-500 w-1/2 text-white opacity-95 p-2 rounded md:text-lg"
  >
    <span class="font-bold"> No conversations yet, </span>
    <a class="bg-white px-2 p-1 my-2 rounded" routerLink="/admin/friends"
      >chat now !</a
    >
  </div>
</div>
<div
  class="p-2 w-screen overflow-x-hidden flex justify-center flex-wrap overflow-y-auto"
>
  <app-conversation
    class="w-full sm:w-1/2 md:w-1/3 mx-2"
    *ngFor="let conv of getThisConvs()"
    [conv]="conv"
  ></app-conversation>
  <div *ngIf="!done" class="d-flex align-items-center mySpinner">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</div>
