<div
  class="flex justify-center h-screen items-center"
  *ngIf="noConvs() && done"
>
  <div
    class="text-base no-underline text-center bg-red-500 w-1/2 text-white opacity-95 p-2 rounded md:text-lg"
  >
    No conversations yet,
    <a class="bg-white px-2 my-2 rounded" routerLink="/admin/friends"
      >chat now !</a
    >
  </div>
</div>
<div id="globalContainer" class="pt-2 overflow-y-auto">
  <app-conversation
    class="w-full sm:w-1/2"
    *ngFor="let conv of getThisConvs()"
    [conv]="conv"
  ></app-conversation>
  <div *ngIf="!done" class="d-flex align-items-center mySpinner">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</div>
