/* mobile*/
@media(max-width:650px){
   
    #globalContainer{
        height: 560px;
        overflow-y: auto;
        padding-bottom: 80px;
    
    }
    .noRes{
        color: var(--third-color-admin);
    }
    .mySpinner{
        color: var(--font-color-admin);
    }
    .convContainer{
        gap: 10px;
    }
    .imgAndStatusDiv{
        padding-top: 5px;
    }
    .conv{
        max-height: 76px;
        width: 98%;
        margin-left: 1%;
        margin-top: 5px;
        background-color: var(--font-color-admin);
        color: var(--bg-color-admin);
        border-radius: 10px;
        padding-top: 6px;
        padding-left: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        overflow-x: hidden;
    
    }
    .boldBorderConv{
        border:3px solid var(--bg-color-admin);
    }
    .photoAndName{
        display:flex;
        flex-direction:row;
        margin:0px;
        width: 90%;
        max-height: 55px;
    }
    .imgConv{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
    .nameAndLastMsg{
        padding-top: 1%;
        font-size: 100%;
        width: 75%;
        height: max-content;
    }
    .name{
        font-size: larger;
        font-weight: bold;
        margin-bottom: 3px;
        height: max-content;
    }
    .lastMsg{
        margin: 0%;
        font-size: smaller;
        color: var(--bg-color-admin);
    }
    .lastMsgNotSeen{
        margin: 0%;
        font-size: smaller;
        font-weight: bold;
        color: var(--bg-color-admin);
    }
    .lastConnection{
        margin: 0%;
        font-size: smaller;
        color: var(--bg-color-admin);
    }
    .onLineWord{
        margin: 0%;
        font-size: smaller;
        color: var(--bg-color-admin);
    }
    .options{
        text-align: center;
        width: 5%;
        height: max-content;
        font-size: larger;
        cursor: pointer;
        
    }
    .optionsAndLastMessageStatus{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 10%;
    
    }
    .lastMessageStatus{
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        justify-content: space-between;
        width: 100%;
        height: max-content;
    }
    .imgViever{
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    .imgVieverRowContainer{
        display: flex;
        flex-direction: row;
        padding: 0px;
        padding-top: 5px;
        margin: 0px;
        flex-wrap: wrap;
    }
    .status{
        width: 13px;
        height: 13px;
        border-radius: 50%;
        position: relative;
        bottom: 102%;
        left: 55%;
    }
    .online {
        background: #9ec94a;
    }
    
    .offline {
        background: #c4d2e2;
    }
    
    .away {
        background: #f9be52;
    }
    .busy {
        background: #fd7274;
    }
}
/*PC*/
@media(min-width:650px){
  
    #globalContainer{
        max-height: 560px;
        margin: 0px;
        overflow-y: auto;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .noRes{
        color: var(--third-color-admin);
    }
    .mySpinner{
        color: var(--font-color-admin);
    }
    .convContainer{
        gap: 10px;
        width: 50%;
        height: max-content;
    }
    .imgAndStatusDiv{
        padding-top: 5px;
    }
    .conv{
        max-height: 76px;
        width: 98%;
        margin-left: 1%;
        margin-top: 5px;
        background-color: var(--font-color-admin);
        color: var(--bg-color-admin);
        border-radius: 10px;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 15px;
        cursor: pointer;
        overflow-x: hidden;
    
    }
    .boldBorderConv{
        border:3px solid var(--bg-color-admin);
    }
    .photoAndName{
        display:flex;
        flex-direction:row;
        margin:0px;
        width: 90%;
        max-height: 55px;
    }
    .imgConv{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
    .nameAndLastMsg{
        padding-top: 1%;
        font-size: 100%;
        width: 75%;
        height: max-content;
    }
    .name{
        font-size: 110%;
        font-weight: bold;
        margin-bottom: 3px;
        height: max-content;
    }
    .lastMsg{
        margin: 0%;
        font-size: smaller;
        color: var(--bg-color-admin);
    }
    .lastMsgNotSeen{
        margin: 0%;
        font-size: smaller;
        font-weight: bold;
        color: var(--bg-color-admin);
    }
    .lastConnection{
        margin: 0%;
        font-size: smaller;
        color: var(--bg-color-admin);
    }
    .onLineWord{
        margin: 0%;
        font-size: smaller;
        color: var(--bg-color-admin);
    }
    .options{
        text-align: center;
        width: 5%;
        height: max-content;
        font-size: larger;
        cursor: pointer;
        
    }
    .optionsAndLastMessageStatus{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 10%;
    
    }
    .lastMessageStatus{
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        justify-content: space-between;
        width: 100%;
        height: max-content;
    }
    .imgViever{
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    .imgVieverRowContainer{
        display: flex;
        flex-direction: row;
        padding: 0px;
        padding-top: 5px;
        margin: 0px;
        flex-wrap: wrap;
    }
    .status{
        width: 13px;
        height: 13px;
        border-radius: 50%;
        position: relative;
        bottom: 102%;
        left: 55%;
    }
    .online {
        background: #9ec94a;
    }
    
    .offline {
        background: #c4d2e2;
    }
    
    .away {
        background: #f9be52;
    }
    .busy {
        background: #fd7274;
    }
}



