<div
  id="globalContainerMedias"
  class="flex flex-wrap justify-center p-2 space-x-1"
>
  <div class="media" *ngFor="let media of medias" (click)="goToMsg(media.msg)">
    <img
      *ngIf="fileType(media.file) == 'img'"
      class="img"
      [src]="media.file"
      alt=""
    />

    <video
      class="img"
      *ngIf="fileType(media.file) == 'video'"
      controls
      [src]="media.file"
      type="video/*"
    >
      Your browser does not support the video tag.
    </video>
  </div>
  <div *ngIf="!done" class="d-flex align-items-center mySpinner">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
  <div
    class="bg-red-500 p-1 px-3 rounded text-center text-white"
    *ngIf="medias.length == 0"
  >
    No medias yet
  </div>
</div>
