<div id="globalContainer" class="row">
  <div class="media" *ngFor="let media of medias" (click)="goToMsg(media.msg)">
    <img
      *ngIf="fileType(media.file) == 'img'"
      class="img"
      [src]="media.file"
      alt=""
    />

    <video
      class="img"
      *ngIf="fileType(media.file) == 'video'"
      controls
      [src]="media.file"
      type="video/*"
    >
      Your browser does not support the video tag.
    </video>
  </div>
  <div *ngIf="!done" class="d-flex align-items-center mySpinner">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
  <h1 class="text-center noRes" *ngIf="medias.length == 0">
    <ins>No medias yet</ins>
  </h1>
</div>
