<div id="globalContainer" class="row">
  <div class="media" *ngFor="let media of medias">
    <img
      (click)="goToMsg(media.msg)"
      class="img"
      src="{{ media.file }}"
      alt=""
    />
  </div>
  <div *ngIf="!done" class="d-flex align-items-center mySpinner">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
  <h1 class="text-center noRes" *ngIf="medias.length == 0">
    <ins>No medias yet</ins>
  </h1>
</div>
