
  .navItem {
    width: 18%;
    border-radius: 10px;
    padding: 3px;
    margin: 0.5%;
    cursor: pointer;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 80%;
    overflow-x: hidden;
    background-color: var(--bg-color-conv);
    color: var(--font-color-conv);
  }
  .navItem:hover {
    background-color: var(--font-color-conv);
    color: var(--bg-color-conv);  
   }
  .active {
    background-color: var(--font-color-conv);
    color: var(--bg-color-conv);  
  }
  #rowContainer{
    border: 1px solid var(--font-color-conv);
    padding: 3px;
    background-color: var(--bg-color-conv);
    padding-left: 20px;
    margin-bottom: 5px;
  }