<div class="flex p-2" [ngClass]="getTailwindClasses(2, false)">
  <div class="flex justify-center items-center relative">
    <img
      id="photoConv"
      class="rounded-full w-14 h-14"
      src="{{ photo }}"
      onerror='src="/assets/images/user.png"'
      alt=""
    />
    <div
      id="status"
      class="w-3 h-3 rounded-full absolute top-1 right-4"
      [ngClass]="getStatusClasses()"
    ></div>
  </div>
  <!--name and lastconnection-->
  <div class="nameAndConOrTyping">
    <div id="name" class="flex flex-col pt-1">
      <div
        class="text-xl"
        [ngClass]="{
          'mt-2': !typing && isGroupe()
        }"
      >
        {{ name }}
      </div>
      <div
        id="lastConnectionOrOtherSentence"
        class="text-sm"
        *ngIf="!typing && !isGroupe()"
      >
        {{ lastConnection }}
      </div>
      <div *ngIf="typing">{{ typer.firstName + " " + typer.lastName }} ...</div>
    </div>
  </div>
</div>
