
#photoConv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 10px;
}

@media (min-width:767px) {
    #name{
        padding-top: 1%;
        font-size: large;
        } 
        .nameAndConOrTyping{
            display: flex;
            flex-direction: column;
           min-width: 70%;
           overflow-x: hidden;
        
        }
}
@media (max-width:767px) {
    .nameAndConOrTyping{
        display: flex;
        flex-direction: column;
        min-width: 65%;
        overflow-x: hidden;
       
    
    }
    #name{
        padding-top: 1%;
        font-size: medium;
        } 
}

.lastConnection{
    text-decoration-line: underline;
    margin-bottom: 0px;
}
.online{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    right: 30px;
    background-color:#9ec94a ;
    
}
.offline{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    right: 30px;
    background-color: #c4d2e2;
}