app-conv-side{
    background-color: var(--font-color-conv);
}
.sentMark{
    color: var(--bg-color-conv);
}
.recievedMark{
    color: var(--bg-color-conv);
}
.statusRow{
    margin: 0px;
    padding-right: 3px;
    padding-left: 3px;
}
.mySpinner{
    color:var(--bg-color-conv);
}
.noRes{
    color: var(--bg-color-conv);
}
.dateOfMessage{
    color: var(--bg-color-conv);
}
.reactionRow{
    flex-direction: row-reverse;
    margin: 0px;
    padding-right: 1px;
    padding-left: 1px;
    gap: 1px;
    font-size: small;
}
.emojisRow{
    margin: 0px;
    margin-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.addReaction{
    color: var(--bg-color-conv);
    cursor: pointer;

}
.allReactions{
    display: none;
    background-color: var(--bg-color-conv);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    gap: 5px;
    width: max-content;
}
.reactionEmojis{
    border-radius: 50%;
    padding: 3px;
}
.reactionEmojis:hover{
background-color: var(--font-color-conv);
}
.nbrOfReactions{
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 50%;
    padding: 2px;
    color: var(--font-color-conv);
    background-color: var(--bg-color-conv);
    border-radius: 20px;
}
.reactionTypeAndNbr{
    position: relative;
}
.reactersDiv{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--font-color-conv);
    gap: 5px;
}
.imgReacter{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.reacterName{
    padding-top: 3px;
    width: 80%;
    color: var(--bg-color-conv);
    font-size: 80%;
}
.reactionSelected{
    background-color: var(--font-color-conv);
}
#reactersCadre{
    display: none;
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 3;
}
#reacters{
    overflow-y: auto;
    width: 100%;
    height: 30%;
    background-color: var(--bg-color-conv);
    bottom: 0px;
    position: fixed;
    z-index: 3;
}
#optionPopupCadre{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
#optionPopup{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: max-content;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
}
#deleteForAll{
    margin:0px 10%;
    width: 80%;
}

#deleteForMe{
    margin:5px 10%;
    width: 80%;
}
.cadre{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color-conv);
    z-index: 2;
}

#downloadPhotoDisplayed{
    width: 100%;
    background-color: var(--bg-color-conv);
    color: var(--font-color-conv);
    text-decoration-line: underline;
}
#downloadPhotoDisplayedDiv{
    margin-top: 10px;
}
.imgSent{
    border-radius: 5px;
    width: 80px;
    height:80px;
    cursor: pointer;
    margin: 3px;
}
.myPhotoSentContainer{
    width: 70%;
    gap: 5px;
}
.otherPhotoSentContainer{
    gap: 5px;
}
.marginRightSettingAndRep{
    margin-right: 15px;
     gap: 5px
}
.marginLeftSettingAndRep{
    margin-left: 15px;
     gap: 5px
}

.repDiv{
    color: var(--bg-color-conv);
    padding-top: 12%;
    cursor: pointer;
}
.rotateTheirRepArrow{
    transform: rotate(-90deg)
}
.repRight{
    gap: 5px;
    flex-direction: row-reverse;
    background-color: var(--shadow-color-conv);
    color: var(--font-color-conv);
    padding: 5px;
    width: 50%;
    margin-left: 50%;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
.repLeft{
    gap: 5px;
    background-color: var(--shadow-color-conv);
    color: var(--font-color-conv);
    padding: 5px;
    width: 50%;
    margin-right: 50%;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
.repSenderPhoto{
    margin: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.repMsgsText{
    padding-top: 2%;
}
.msgSettings{
    color: var(--bg-color-conv);
    padding: 3px;
    margin: 3px;
    cursor: pointer;
}
.emoji{
    background-color: var(--bg-color-conv);
    color: var(--font-color-conv);
    }
    
    .notEmoji{
        background-color: var(--bg-color-conv);
        color: var(--font-color-conv);

        height: max-content;
        }
@media (max-width: 767px) {
    .photoDisplayed{
        width: 50%;
        height: 50%;
        margin-top: 25%;
        margin-left: 25%;
    }
    .emoji{
        background-color: var(--bg-color-conv);
        color: var(--font-color-conv);
        height: max-content;
        padding: 3px;
        border-radius: 50%;
        width: max-content;
        }
    .users {
        padding: 0;
        overflow-y: auto;
        height: 500px;
        /* padding-bottom: 35px; */
        /* min-height: 700px; */
    }
}
@media (min-width: 767px) {
    .photoDisplayed{
        width: 40%;
        height: 80%;
        margin-top: 0%;
        margin-left: 30%;
    }
    .emoji{
        background-color: var(--bg-color-conv);
        color: var(--font-color-conv);
        height: max-content;
        width: max-content;
        padding: 3px;
        border-radius: 50%;
        }
    .users {
        padding: 0;
        overflow-y: auto;
        height: 500px;

        /* max-height: 550px; */
        /* padding-bottom: 45px; */
        /* min-height: 700px; */
    }
}
.main{
    width: 100%;
    /* padding-top:116px ; */
    padding-bottom:45px ;
    min-height: 600px;
    max-height: 550px;
    background-color: var(--font-color-conv);
    overflow-y: hidden;
}
#convHeaderContainer{
    height: max-content;
}
#chatContainer{
    width: 80%;
    height: 577px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--font-color-conv);
}
#convsMessagesRow{
    width: 100%;
    min-height: 100vh;
    background-color: var(--font-color-conv);
}
.chat-box{
    margin-top: 9px;
    display: flex;
    flex-direction:column-reverse;
    height: max-content;
}
.conv-selected{
    background-color: #b0afae;

}
#msgLoadingSpinner{
   position: relative;
    left: 45%;

}
#downBtn{
    /* position: relative;
    left: 45%; */
    padding: 3px;
}
#InputSecondDiv{
    background-color: transparent;
    display: flex;
    flex-direction:row-reverse;
margin-right: 15px;
}
#inputElementsGroup{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    min-height: max-content;
    background-color: transparent;
    /* border-top: 1px solid #e6ecf3; */
    /* padding: 0px 10px 10px 15px; */
    overflow-y: auto;
    overflow-x: hidden;
}
/* 'input-second-div': true,
      'input-second-div-focus': this.ref,
    }; */
    .input-second-div{
        display: flex;
        
    margin-right: 15px;
    justify-content: center;

}
    .input-second-div-focus{
        display: flex;
        flex-direction:row-reverse;
    margin-right: 15px;
    }

ul{    
    background-color: #999999
}

.right{
    direction: rtl;
}







app-conv-side{
    width: 20%;
}
.users-container {
    min-width: 20%;
    position: relative;
    padding: 0rem 0;
    padding-top: 10px;

    border-right: 1px solid #e6ecf3;
   height: 560px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #999999;
    overflow-y: hidden;
    max-width: 20%;
   

}



.chat-container {
    position: relative;
    padding: 10px;
    padding-top: 25px;
}

.chat-container div.chat-left,
.chat-container div.chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    /* margin-bottom: 40px; */
}


.chat-container div .img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border:1px solid var(--bg-color-conv)
}

.chat-container div .chat-avatar {
    margin-right: 20px;
}

/* .chat-container li.chat-right {
    justify-content: flex-end;
} */

.chat-container div.chat-right > .chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-container div .chat-name {
    font-size: .75rem;
    color: #999999;
    text-align: center;
}

.chat-container div .chat-text {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 300;
    line-height: 150%;
    position: relative;
}

.chat-container div .chat-text:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid;
    border-color: transparent var(--bg-color-conv) transparent transparent;
}

.chat-container div.chat-right > .chat-text {
    text-align: right;
}

.chat-container div.chat-right > .chat-text:before {
    right: -20px;
    border-color: transparent transparent transparent var(--bg-color-conv);
    left: inherit;
}

.chat-container div .chat-hour {
    color: var(--bg-color-conv);
    padding: 0;
    margin-bottom: 5px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;
}

.chat-container div .chat-hour > span {
    font-size: 16px;
    color: #9ec94a;
}

.chat-container div.chat-right > .chat-hour {
    margin: 0 15px 0 0;
}

/* @media (min-width: 7px) { */
    
    .chat-container div.chat-left,
    .chat-container div.chat-right {
        flex-direction: column;
        /* margin-bottom: 10px; */
    }
    .chat-container div .img {
        width: 32px;
        height: 32px;
        border:1px solid var(--bg-color-conv)

    }
    .chat-container div.chat-left .chat-avatar {
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
    }
   
    .chat-container div.chat-left .chat-name {
        margin-left: 5px;
    }
    .chat-container div.chat-right .chat-avatar {
        order: -1;
        margin: 0 0 5px 0;
        align-items: center;
        display: flex;
        justify-content: right;
        /* flex-direction: row-reverse; */
    }
    .chat-container div.chat-right .chat-hour {
        justify-content: flex-end;
        order: 2;
    }
    .chat-container div.chat-right .chat-name {
        margin-right: 5px;
    }
    .chat-container div .chat-text {
        font-size: .8rem;
    }
/* } */

.chat-form {
    padding: 15px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.card {
    border: 0;
    background: #f4f5fb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2rem;
    box-shadow: none;
}