<div class="main">
  <div (click)="displayPhoto('')" id="cadrePhotoDisplayed" class="cadre">
    <img
      id="photoDisplayed"
      class="photoDisplayed"
      src="{{ photoDisplayedUrl }}"
      alt=""
    />
    <br />
    <div id="downloadPhotoDisplayedDiv" class="text-center">
      <a
        class="btn btn-warning"
        id="downloadPhotoDisplayed"
        href="{{ photoDisplayedUrl }}"
        download
      >
        Download</a
      >
    </div>
  </div>
  <div
    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
    style="padding: 0%"
  >
    <div class="card m-0">
      <!-- Row start -->
      <div id="convsMessagesRow" class="row no-gutters">
        <!-- side convs component -->
        <!-- <div class="users-container"> -->
        <app-conv-side></app-conv-side>
        <!-- </div> -->
        <div
          id="chatContainer"
          class="chat-container"
          #chatContainer
          (scroll)="checktop()"
          (scroll)="updateBottom()"
        >
          <div
            *ngIf="loading && MoreMessages && !isBottom"
            id="msgLoadingSpinner"
            class="spinner-border"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
          <!--messages-->
          <h3 *ngIf="getMessages().length == 0 && done" class="center noRes">
            <ins>no messages yet !</ins>
          </h3>
          <div
            id="{{ msg._id }}"
            class="chat-box"
            *ngFor="let msg of getMessages()"
          >
            <div style="flex-direction: row-reverse" class="row statusRow">
              <!--sent mark-->
              <div
                class="sentMark"
                *ngIf="
                  !getThereIsViewvers() &&
                  msg.sender._id == getThisUser()._id &&
                  isLastMsg(msg) &&
                  msg.recievedBy.length == 1
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-check-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"
                  />
                </svg>
              </div>
              <!--recieved mark-->
              <div
                class="recievedMark"
                *ngIf="
                  !getThereIsViewvers() &&
                  msg.sender._id == getThisUser()._id &&
                  isLastMsg(msg) &&
                  msg.recievedBy.length > 1 &&
                  msg.vus.length == 1
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-check-circle-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                  />
                </svg>
              </div>

              <div *ngFor="let member of getMembers()">
                <div
                  *ngIf="
                    member.lastMsgSeen != undefined &&
                    member._id != getThisUser()._id
                  "
                >
                  <img
                    *ngIf="member.lastMsgSeen._id == msg._id"
                    class="img"
                    style="width: 15px; height: 15px; margin-left: 5px"
                    src="{{ member.photo }}"
                    alt="dsc"
                  />
                </div>
              </div>
            </div>
            <div [ngClass]="getChatClasses(msg)">
              <div class="chat-avatar">
                <div class="center">
                  <img
                    class="img"
                    src="{{ msg.sender.photo }}"
                    alt="{{ msg.sender.firstName }} {{ msg.sender.lastName }}"
                  />
                </div>

                <div class="chat-name">
                  {{ msg.sender.firstName }} {{ msg.sender.lastName }}
                </div>
                <div [ngClass]="getSettingsAndRepClasses(msg)">
                  <div class="center msgSettings" (click)="delteOptions(msg)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-gear-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"
                      />
                    </svg>
                  </div>

                  <div (click)="setRep(msg)" class="repDiv">
                    <svg
                      [ngClass]="getRepClasses(msg)"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M9.636 2.5a.5.5 0 0 0-.5-.5H2.5A1.5 1.5 0 0 0 1 3.5v10A1.5 1.5 0 0 0 2.5 15h10a1.5 1.5 0 0 0 1.5-1.5V6.864a.5.5 0 0 0-1 0V13.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M5 10.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1H6.707l8.147-8.146a.5.5 0 0 0-.708-.708L6 9.293V5.5a.5.5 0 0 0-1 0v5z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div
                (click)="setMessageClicked(msg._id)"
                [ngClass]="textClasses(msg)"
                *ngIf="msg.text != ''"
                class="chat-text"
              >
                {{ msg.text }}
              </div>
              <div [ngClass]="getImgSentContainer(msg)">
                <img
                  *ngFor="let file of msg.files"
                  (click)="displayPhoto(file)"
                  class="imgSent"
                  src="{{ file }}"
                  alt=""
                />
                <!-- {{ file }} -->
              </div>
              <div class="reactionRow row">
                <div class="addReaction" (click)="displayReactions(msg)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-emoji-laughing"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                    <path
                      d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"
                    />
                  </svg>
                  <span>+</span>
                </div>
                <div class="row emojisRow">
                  <div
                    class="allReactions row"
                    [id]="msg._id + '-reactionsContainer'"
                  >
                    <div
                      class="reactionEmojis"
                      *ngFor="let reaction of reactions"
                      (click)="addReaction(msg, reaction)"
                    >
                      {{ reaction }}
                    </div>
                  </div>
                  <div
                    class="reactionTypeAndNbr"
                    *ngFor="let reaction of getReactions(msg)"
                  >
                    {{ reaction }}
                    <div class="nbrOfReactions">
                      {{ getNbrOfReaction(reaction) }}
                    </div>
                  </div>
                </div>
              </div>
              <small
                class="center dateOfMessage"
                *ngIf="messageClicked == msg._id"
              >
                {{ date(msg) }}
              </small>
            </div>
            <div
              (click)="goToMessage(msg.ref._id)"
              *ngIf="msg.ref != ''"
              [ngClass]="getRepOfMsgsClasses(msg)"
            >
              <img
                class="repSenderPhoto"
                src="{{ msg.ref.sender.photo }}"
                alt="refPhoto"
              />
              <div class="repMsgsText" *ngIf="msg.ref.text != ''">
                {{ msg.ref.text }}
              </div>
              <div *ngIf="msg.ref.text == ''">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-images"
                  viewBox="0 0 16 16"
                >
                  <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                  <path
                    d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <!-- Row end -->
    </div>
  </div>

  <!--input elements group-->
  <div *ngIf="done" id="inputElementsGroup">
    <!--scrolldown or appendDown-->
    <div
      *ngIf="!isBottom"
      [ngClass]="getInputSecondDivClasses()"
      id="InputSecondDiv"
    >
      <button
        (click)="appendDown()"
        id="downBtn"
        [ngClass]="{
          'btn':true,
          'btn-warning':true,
        }"
      >
        <svg
          *ngIf="!noMoreDown"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-clockwise"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
          />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
          />
        </svg>
        <svg
          *ngIf="noMoreDown"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-down-circle"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
          />
        </svg>
      </button>
    </div>
    <!--go to bottom btn-->

    <!--input component-->
    <app-input></app-input>
  </div>

  <div *ngIf="!done" class="d-flex align-items-center mySpinner">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
  <div (click)="delteOptions(null)" id="optionPopupCadre">
    <div id="optionPopup">
      <div
        *ngIf="canDeleteMsgForAll"
        (click)="deleteMsgForAll()"
        class="center btn btn-danger"
        id="deleteForAll"
      >
        Delete for all
      </div>
      <div
        (click)="deleteMsgForMe()"
        class="center btn btn-warning"
        id="deleteForMe"
      >
        Delete for me
      </div>
    </div>
  </div>
</div>
