<div class="main">
  <div
    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
    style="padding: 0%"
  >
    <div class="card m-0">
      <!-- Row start -->
      <div id="convsMessagesRow" class="row no-gutters">
        <!-- side convs component -->
        <!-- <div class="users-container"> -->
        <app-conv-side></app-conv-side>
        <!-- </div> -->
        <div
          id="chatContainer"
          class="chat-container"
          #chatContainer
          (scroll)="checktop()"
          (scroll)="updateBottom()"
        >
          <div
            *ngIf="loading && MoreMessages && !isBottom"
            id="msgLoadingSpinner"
            class="spinner-border"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
          <div class="chat-box" *ngFor="let msg of getMessages()">
            <div id="{{ msg._id }}" [ngClass]="getChatClasses(msg)">
              <div class="chat-avatar">
                <img
                  src="{{ msg.sender.photo }}"
                  alt="{{ msg.sender.firstName }} {{ msg.sender.lastName }}"
                />
                <div class="chat-name">{{ msg.sender.lastName }}</div>
              </div>
              <div
                (click)="setMessageClicked(msg._id)"
                [ngClass]="textClasses(msg)"
                class="chat-text"
              >
                {{ msg.text }}
              </div>
              <div class="chat-hour" *ngIf="messageClicked == msg._id">
                {{ date(msg) }}
                <span class="fa fa-check-circle"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <!-- Row end -->
    </div>
  </div>

  <!--input elements group-->
  <div *ngIf="done" id="inputElementsGroup">
    <div [ngClass]="getInputSecondDivClasses()" id="InputSecondDiv">
      <button
        (click)="appendDown()"
        *ngIf="!isBottom || !noMoreDown"
        id="downBtn"
        [ngClass]="{
          'btn':true,
          'btn-warning':true,
        }"
      >
        <svg
          *ngIf="!noMoreDown"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-clockwise"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
          />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
          />
        </svg>
        <svg
          *ngIf="noMoreDown"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-down-circle"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
          />
        </svg>
      </button>
    </div>
    <!--go to bottom btn-->

    <!--input component-->
    <app-input></app-input>
  </div>

  <div *ngIf="!done" class="d-flex align-items-center mySpinner">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</div>
