<!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3"> -->
<div class="users-container" [ngClass]="getTailwindClasses(1, false)">
  <div class="chat-search-box hidden sm:block">
    <div class="input-group">
      <input
        (input)="search()"
        [(ngModel)]="key"
        type="text"
        class="form-control"
        placeholder="Search"
      />
      <div class="input-group-btn">
        <button (click)="search()" type="button" class="btn btn-info">
          <i class="fa fa-search"
            ><span class="material-symbols-outlined">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg> </span
          ></i>
        </button>
      </div>
      <div
        *ngIf="spinnerSearchConvs"
        id="spinnerSearchConvs"
        class="spinner-border"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div id="fixedUsers" class="" *ngIf="done">
    <!--status:busy offline away-->
    <div
      *ngIf="noConvSearched"
      class="bg-red-500 p-1 rounded text-center text-white"
    >
      No result for "{{ key }}"
    </div>

    <div class="flex flex-col">
      <app-conversation
        [conv]="conv"
        [IsOnSide]="true"
        *ngFor="let conv of getThisConvs()"
      ></app-conversation>
    </div>
  </div>
</div>
