#globalContainer{
    padding-top: 30px;
}
.noRes{
    color: var(--font-color-conv);
}
.mySpinner{
    color: var(--font-color-conv);
}
.options{
    display: none;
    position: absolute;
    top: 44%;
    right: 7.5%;
    z-index: 3;
}
.optionsBtn{
    text-align: center;
    width: 5%;
    height: max-content;
    font-size: larger;
    cursor: pointer;
    
}
.optionsFlex{
    gap: 3px;
}
.userItem{
    position: relative;
    background-color: var(--font-color-conv);
    margin: 1%;
    padding: 1%;
    padding-bottom: 0px;
    border-radius: 10px;
    color: var(--bg-color-conv);
}

@media (min-height:767px) {
    .name{
        font-size: 100%;
        width: 80%;
        margin-bottom: 0%;
        padding: 1%;
        font-size: larger;
        
    }
    .imgAndStatusDiv{
        width: max-content;
        /* height: max-content; */
    
    }
    .img{
    width: 70px;
    border-radius: 50%;
    margin-right: 2%;
    }
    .status{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: relative;
        bottom: 85%;
        left: 67%;
    }
}
@media (max-height:767px) {
    .name{
        font-size: 100%;
        width: 75%;
        margin-bottom: 0%;
        padding: 1%;
        padding-top: 10px;
        font-size: larger;
        
    }
    .imgAndStatusDiv{
        width: max-content;
        /* padding-top: 10px ; */
        /* height: max-content; */
    }
    .img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 2%;
    }
    .status{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: relative;
        bottom: 80%;
        left: 67%;
    }
}

 .myBtn{
    margin-top: 1%;
    min-width: 16%;
    max-height: 40px;
}
.btn1{
    margin-right: 0%;
}
.chatBtn{
    margin-left: 1%;


}
.refuseBtn{
    margin-left: 1%;
}

.online {
    background: #9ec94a;
}

.offline {
    background: #c4d2e2;
}

.away {
    background: #f9be52;
}
.busy {
    background: #fd7274;
}