.globalContainer{
    padding-top: 20px;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
    padding-bottom: 5px;
}
.groupeMembers{
    padding-top: 10px;

}

#addMember{
    margin-top: 3px;
    text-align: center;
    width: 96%;
    margin-left: 2%;
    z-index: 3;
    background-color: var(--font-color-conv);
    color: var(--bg-color-conv);
}
.noRes{
    color: var(--font-color-conv);
}
.mySpinner{
    margin-top: 10px;
    color: var(--font-color-conv);
}
.optionsCadre{
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color-conv);
    z-index: 5;
}
.options{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 3;
    background-color: var(--font-color-conv);
    padding: 10px;
}
.optionsBtn{
    text-align: center;
    width: 5%;
    height: max-content;
    font-size: larger;
    cursor: pointer;
    
}

.userInfos{
    position: relative;
    max-height: 68px;
    background-color: var(--font-color-conv);
    margin: 1%;
    padding: 1%;
    padding-bottom: 10px;
    border-radius: 10px;
    color: var(--bg-color-conv);
}
.optionsBtnAndOptions{
    position: relative;
}

/*PC*/
@media (min-width:767px) {
    .optionsFlex{
        gap: 10px;
        position: absolute;
        top:0px;
        right: -10%;
        z-index: 4;
        background-color: var(--font-color-conv);
        border-radius: 10px;
        padding: 3px;
    
    }
    .userItem{
        margin-top: 5px;
        width: 48%;
        height: max-content;
        position: relative;
    }
    .membersContainer{
        padding-left: 5px;
        padding-right: 5px;
        height: 560px;
        overflow-y: auto;
        padding-bottom: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .name{
        font-size: 100%;
        width: 75%;
        margin-bottom: 0%;
        padding: 1%;
        font-size: larger;
        height: max-content;
        
    }
    .imgAndStatusDiv{
        padding-top: 0px;
        width: max-content;
        /* height: max-content; */
    
    }
    .img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 2%;
    }
    .status{
        width: 13px;
        height: 13px;
        border-radius: 50%;
        position: relative;
        bottom: 84%;
        left: 67%;
    }
}
/*mobile*/
@media (max-width:767px) {
    .optionsFlex{
        gap: 10px;
        position: absolute;
        top:40px;
        right: -15px;
        z-index: 4;
        background-color: var(--font-color-conv);
        border-radius: 10px;
        padding: 3px;

    
    }
    .userItem{
        margin-top: 5px;
        height: max-content;
        position: relative;

    }
    .membersContainer{
        padding-left: 5px;
        padding-right: 5px;
        height: 560px;
        overflow-y: auto;
        padding-bottom: 5px;
    }
    .name{
        font-size: 100%;
        height: max-content;
        width: 73%;
        margin-bottom: 0%;
        padding: 1%;
        padding-top: 10px;
        font-size: larger;
        
    }
    .imgAndStatusDiv{
        width: max-content;
        /* padding-top: 10px ; */
        /* height: max-content; */
    }
    .img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 2%;
    }
    .status{
        width: 13px;
        height: 13px;
        border-radius: 50%;
        position: relative;
        bottom: 80%;
        left: 67%;
    }
}

 .myBtn{
    margin-top: 1%;
    width: 23%;
    margin-left: 2%;
    max-height: 40px;
}
.btn1{
    margin-right: 0%;
}
.chatBtn{
    margin-left: 1%;


}
.refuseBtn{
    margin-left: 1%;
}

.online {
    background: #9ec94a;
}

.offline {
    background: #c4d2e2;
}

.away {
    background: #f9be52;
}
.busy {
    background: #fd7274;
}