#globalContainer{
    padding-top: 5px;
}
.userItem{
    background-color: var(--font-color);
    margin: 1%;
    padding: 1%;
    padding-bottom: 3px;
    border-radius: 10px;
    color: var(--bg-color);
}
.name{
    font-size: 100%;
    width: 50%;
    margin-bottom: 0%;
    padding: 1%;
    font-size: larger;
    
}
.imgAndStatusDiv{
    width: 15%;
    /* height: max-content; */

}
.img{
width: 100%;
border-radius: 50%;
margin-right: 2%;
}

 .myBtn{
    margin-top: 1%;
    min-width: 16%;
    max-height: 40px;
}
.btn1{
    margin-right: 1%;
}
.chatBtn{
    margin-left: 1%;


}
.refuseBtn{
    margin-left: 1%;
}
.status{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    position: relative;
    bottom: 100%;
    left: 60%;
}
.online {
    background: #9ec94a;
}

.offline {
    background: #c4d2e2;
}

.away {
    background: #f9be52;
}
.busy {
    background: #fd7274;
}