#blockBtn{
    width: 100%;
    margin-top: 5px;
}
#convPhoto{
    cursor: pointer;
    width: 100px;
}
#convPhotoInput{
    display: none;
}
#convPhotoDiv{
    margin-top: 10px;
}
#desc{
    width: 100%;
     height: 150px
    }