<form (ngSubmit)="update()">
  <div id="convPhotoDiv" class="center">
    <input type="file" id="convPhotoInput" />
    <img
      (click)="clickPhoto()"
      id="convPhoto"
      src="{{ convInfos.photo }}"
      alt="conv photo"
    />
  </div>
  <div class="form-group">
    <label for="convName">Conversation name</label>
    <input
      [(ngModel)]="convInfos.name"
      name="convName"
      type="text"
      class="form-control"
      id="convName"
      placeholder="Enter name"
    />
  </div>
  <div class="form-group">
    <label for="description">Conversation description</label>
    <textarea
      [(ngModel)]="convInfos.description"
      name="description"
      type="email"
      class="form-control"
      id="description"
      placeholder="Enter name"
    >
    </textarea>
  </div>

  <button type="submit" class="btn btn-success">update</button>
</form>
<hr />
<button id="blockBtn" class="btn btn-danger" (click)="leaveConv()">
  Leave the conversation
</button>
