.noRes{
    color: var(--font-color-admin);

}
.mySpinner{
    color: var(--font-color-admin);
}


/*PC*/
@media(min-width:767px){
    #membersToAdd{
        padding-top: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        max-height: 77vh;      
        overflow-y: auto;
        padding-bottom: 5px;
    }
    .userItem{
        background-color: var(--font-color-admin);
        margin-top: 3px;
        margin-left: 2%;
        padding: 5px;
        width: 46%;
        height: max-content;
        border-radius: 10px;
        color: var(--bg-color-admin);
        cursor: pointer;
        position: relative;
    }
    .name{
        font-size: 10%;
        width: 70%;
        margin-bottom: 0%;
        padding: 1%;
        font-size: larger;
        height: max-content;
        
    }
    
    .img{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin-right: 2%;
        }
    .imgAndStatusDiv{
            width: max-content;
            padding-top: 3px;
            /* height: max-content; */
    }
}
/*mobile*/
@media(max-width:767px){
    #membersToAdd{
        padding-top: 5px;
        max-height: 77vh;  
        overflow-y: auto;
        padding-bottom: 80px;
    }
    .userItem{
        background-color: var(--font-color-admin);
        margin: 1%;
        padding: 5px;
        height: max-content;
        border-radius: 10px;
        color: var(--bg-color-admin);
        cursor: pointer;
        position: relative;
    }
    .name{
        font-size: 5%;
        width: 70%;
        margin-bottom: 0%;
        padding: 1%;
        font-size: larger;
        height: max-content;
        
    }
  
    .img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 2%;
        }
        .imgAndStatusDiv{
            width: 70px;
            padding-top: 3px;
            /* height: max-content; */
        }
}
.UnselectedDiv{
padding-top: 10px;
color: var(--shadow-color-admin);
}
.selectedDiv{
    padding-top: 10px;
    color: var(--bg-color-admin);
}
.form{
    margin: 0px;
    margin-top: 10px;
    gap: 5px;
    padding: 5px 10px;
}
#makeGroupeBtn{
    width: 96%;
}
#groupeName{
    width: 70%;
}
.status{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 45px;
    z-index: 3;
}
.online {
    background: #9ec94a;
}

.offline {
    background: #c4d2e2;
}