<div id="addMemberGlobal">
  <form (ngSubmit)="addMembers()" class="row form">
    <button
      *ngIf="getFriends().length > 0"
      [disabled]="getSelectedFriends().length < 1"
      class="btn btn-success center"
      id="makeGroupeBtn"
      type="submit"
    >
      Add
      <ins *ngIf="getSelectedFriends().length > 0">
        {{ getSelectedFriends().length }}
      </ins>
    </button>
  </form>

  <div
    class="userItem row"
    *ngFor="let user of getFriends()"
    (click)="selectUser(user)"
    [id]="user._id"
  >
    <div class="imgAndStatusDiv">
      <img class="img" src="{{ user.photo }}" alt="userPhoto" />
    </div>
    <div class="name">{{ user.firstName + " " + user.lastName }}</div>
    <div
      [ngClass]="{
          selectedDiv:getSelectedFriends().includes(user),
          UnselectedDiv:!getSelectedFriends().includes(user),
      }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-check2-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
        />
        <path
          d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
        />
      </svg>
    </div>
  </div>
  <div *ngIf="!done" class="d-flex align-items-center mySpinner">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>

  <div
    class="center noRes"
    *ngIf="(noRes && done) || (done && getFriends().length == 0)"
  >
    <ins>No body to add !</ins>
  </div>
</div>
