/* #textArea{
    width: 64%;

} */
#inputContainer{
    gap: 10px;
    width: 100%;
    padding: 5px;
    background-color: #8796af;
    margin: 0px;
}
#files{
    display: none;
}
#rep{
    display: none;
    width: 100%;
    height: max-content;
    background-color: rgb(94, 98, 101);
    padding: 4px;
    margin: 0px;
}
#photoRep{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#textRep{
    padding: 10px 5px 0 10px;
    width: 82%;
    color: wheat;

}
#cancelRepBtn{
    padding:0  3px;
    height: max-content;
}

@media(min-width:409px){
    #btnsContainer{
        width: 17%;
    }
    #textArea{
        width: 87%;
        margin-left: 5px;

    }
    #sendBtn{
        text-align: center;
        margin-left: 5%;

        max-height: 37px;
    }
    #likeBtn{
        text-align: center;
        margin-left: 5%;

        max-height: 37px;
    }
    #photo_library{
        text-align: center;
        margin-left: 5%;
        max-height: 37px;
    }
}
@media(max-width: 408px){
    #btnsContainer{
        width: 27%;
    }
    #textArea{
        width: 70%;
    }
    #sendBtn{
        text-align: center;
        margin-left: 5%;

        max-height: 37px;
    }
    #likeBtn{
        text-align: center;
        margin-left: 5%;

        max-height: 37px;
    }
    #photo_library{
        text-align: center;
        margin-left: 5%;
        
        max-height: 37px;
    }
}
@media(min-width: 408px) and (max-height: 825px){
    #btnsContainer{
        width: 20%;
    }
    #textArea{
        margin-left: 5px;
        width: 75%;
    }
    #sendBtn{
        width: 40%;
        margin-left: 5%;

        max-height: 37px;
    }
    #likeBtn{
        width: 40%;

        margin-left: 5%;

        /* max-height: 40px; */
        height: max-content;
        padding-bottom: 5px;
    }
    
    #photo_library{
        width: 40%;

        margin-left: 5%;
        
        max-height: 37px;
    }
}