
#headerRow{
    background-color: var(--bg-color-admin);
    color: var(--font-color-admin);
    margin: 10px;
    border-radius: 10px;
}

@media(max-height:767px){
    .name_Groupe{
        font-size: larger;
        vertical-align:middle;
        margin-left: 10px;
        padding: 0%;
        padding-top: 30px;
        border-radius: 10px;
        width: 65%;

    }
}
@media(min-height:767px){
    .name_Groupe{
        vertical-align:middle;
        margin-left: 10px;
        padding: 0%;
        padding-top: 30px;
        border-radius: 10px;
        width: 80%;

    }
}
#insName{
    cursor: pointer;
    height: max-content;
}
#myPhoto{
    border-radius: 50%;
    cursor: pointer;
    width:70px;
    height: 70px;
}
#photoDiv{
    width: max-content;
    padding: 10px;

}
#btnGroupe{
    background-color: transparent;
    margin-left: 20px;
    cursor: pointer;

}