
#headerRow{
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

@media(max-height:767px){
    .name{
        vertical-align:middle;
        margin-left: 10px;
        padding: 0%;
        padding-top: 30px;
        border-radius: 10px;
        width: 65%;
    }
}
@media(min-height:767px){
    .name{
        vertical-align:middle;
        margin-left: 10px;
        padding: 0%;
        padding-top: 30px;
        border-radius: 10px;
        width: 80%;
    }
}
#myPhoto{
border-radius: 50%;
    /* position: absolute; */
    width:70px;
    height: 70px;
}
#photoDiv{
    width: max-content;
    padding: 10px;
}