

 
  .navItem {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    width: 17%;
    text-align: center;
  }
  .navItem:hover {
    background-color: #ddd;
  }
  .active {
    background-color: #ddd;
  }
  #rowContainer{
    background-color: beige;
    padding: 0px 4px;
    padding-left: 7%;
   
  }
 