

 
  .navItem {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    width: 16.7%;
    text-align: center;
  }
  .navItem:hover {
    background-color: var(--font-color);
  }
  .active {
    background-color: var(--font-color);
  }
  #rowContainer{
    background-color: var(--bg-color);
    padding: 0px 4px;
    padding-left: 4%;
   
  }
 