.senderPhoto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.message{
    border-radius: 10px;
    padding: 5px;
    margin-top: 3px;
    background-color: var(--font-color-conv);
    color: var(--bg-color-conv);
    cursor: pointer;
}
.dateAndHoure{
    max-width: max-content;
    padding: 2px;
}
.date{
    font-size: 15px;
 
}
.houre{
    font-size: 15px;
}
#noRes{
    color: var(--font-color-conv);
    text-align: center;
    text-decoration-line: underline;
}
.mySpinner{
    color: var(--font-color-conv);
}