<main class="flex pt-14 justify-center w-screen h-screen">
  <div class="w-full p-3">
    <h3 class="font-bold mb-3 bg-purple-200 shadow-md p-2 rounded">
      Recieve a code on your account email to reinitialize your password !
    </h3>
    <form (ngSubmit)="getCode()">
      <div class="my-3">
        <label for="exampleInputEmail1">Email address used to subscribe.</label>
        <input
          #emailInput
          id="emailInput"
          name="email"
          [(ngModel)]="data.email"
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="myfavoritemail@gmail.com"
        />
      </div>
      <div class="flex justify-center">
        <button
          [disabled]="loading"
          type="submit"
          class="p-1 px-2 rounded shadow-2xl"
          style="background: linear-gradient(45deg, purple, black)"
        >
          <div *ngIf="loading" class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="text-white font-bold" *ngIf="!loading">Get code</div>
        </button>
      </div>
    </form>
    <div
      class="alertDiv center alert alert-danger"
      *ngIf="response.status == 404"
    >
      {{ response.message }}
    </div>
    <div class="text-center backLoginDiv mt-3">
      <a routerLink="/auth/login" class="backLoginLink font-serif"
        >Back to login page</a
      >
    </div>
  </div>
</main>
