<form (ngSubmit)="getCode()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address used to subscribe.</label>
    <input
      #emailInput
      id="emailInput"
      name="email"
      [(ngModel)]="data.email"
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="text-center">
    <button [disabled]="loading" type="submit" class="btn regetCodeBtn">
      <div *ngIf="loading" class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div *ngIf="!loading">Get a code</div>
    </button>
  </div>
</form>
<div class="alertDiv center alert alert-danger" *ngIf="response.status == 404">
  {{ response.message }}
</div>
<div class="text-center backLoginDiv">
  <a routerLink="/auth/login" class="backLoginLink">Back to login page</a>
</div>
