app-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.backLoginDiv{
    margin-top: 10px;
}
.backLoginLink{
    text-decoration-line: underline;
    color: var(--font-color);

}
.alertDiv{
    margin-top: 10px;
}
label{
    color: var(--font-color);
}
.regetCodeBtn{
    background-color: var(--bg-color);
    color: var(--font-color);
}