/* You can add global styles to this file, and also import other style files */
*{
    --bg-color:rgb(246, 79, 162);/*dark one*/
    --font-color:rgb(15, 13, 13);/*light one*/
    --third-color:white;
    --border-color:rgb(228, 48, 78);
    --link-color:blue;
    --shadow-color:rgba(235, 149, 179, 0.5);
}
body{
    background-color: rgba(173, 171, 172, 0.5);
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.borderAlert{
    border: 2px solid red;
}
.center{
    text-align: center;
}
html{
    overflow-x: hidden;
    min-height: 100%;
    min-width: 100%;
}
.mySpinner{
   /* margin-top: 30%;
   width: 50%;
    margin-left: 25%; */
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;

   
}
