@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
:root{
    --bg-body-color:rgb(207, 212, 219);
    /* basic theme */
    --bg-color:rgb(47, 124, 247);/*dark one*/
    --font-color:rgb(75, 59, 59);/*light one*/
    --third-color:white;/*always white*/
    --border-color:rgb(228, 48, 78);
    --link-color:blue;
    --shadow-color:rgba(124, 121, 189, 0.5);

    --bg-color-admin:rgb(47, 124, 247);/*dark one*/
    --font-color-admin:rgb(75, 59, 59);/*light one*/
    --third-color-admin:white;/*always white*/
    --border-color-admin:rgb(228, 48, 78);
    --link-color-admin:blue;
    --shadow-color-admin:rgba(124, 121, 189, 0.5);

    --bg-color-conv:rgb(47, 124, 247);/*dark one*/
    --font-color-conv:rgb(75, 59, 59);/*light one*/
    --third-color-conv:white;/*always white*/
    --border-color-conv:rgb(228, 48, 78);
    --link-color-conv:blue;
    --shadow-color-conv:rgba(124, 121, 189, 0.5);
}
body{
    background-color: var(--bg-body-color);
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.borderAlert{
    border: 2px solid red;
}
.center{
    text-align: center;
}
html{
    overflow-x: hidden;
    
    min-width: 100%;
}
.mySpinner{
   /* margin-top: 30%;
   width: 50%;
    margin-left: 25%; */
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;

   
}