#users{
    padding: 3px;
    width: 50%;
    background-color: black;
}
#convs{
    padding: 3px;
    width: 50%;
    background-color: aquamarine;
}
a{
    cursor: pointer;
}
.myActive{
    background-color: var(--bg-color-admin);
    color: var(--font-color-admin);
}
.myInactive{
    background-color: var(--shadow-color-admin);
    color: var(--bg-color-admin);
}